@import "bootstrap";

/* searchpage */

#landing-page-img {
  width: 100%;
  height: auto;
}

.align-right {
  text-align: end;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}

/* listings page */
#school-listings{
  border-style: solid;
}

#listing-showpage {
  border-style: solid;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-item {
  height: 300px;
  overflow: hidden;
  width: 100%;
  }

.carousel-inner img {
  margin: auto;
}